flake_dir = "/path_to_darwin_flake"
# or ENV var like ${DARWIN_FLAKE}"
flake_config_name= "default"
# Defaults to (hostname -s) if not set

[pkgs]
ignore = ["bash-interactive", "texinfo-interactive"]

[pkgs.overrides]
nix = "nixVersions.latest"
